body{
    width: 100vw;
    height: 100vh;
    background: url('../../../imagens/backGround1.jpeg'); 
    background-repeat: no-repeat;
    background-size: cover;
    animation: backGroundAnimated 40s 1s infinite;
}

@keyframes backGroundAnimated {
    0%,100%{
        background-image: url('../../../imagens/backGround1.jpeg');
    }
    25%{
        background-image: url('../../../imagens/backGround2.jpeg');
    }
    50%{
        background-image: url('../../../imagens/backGround3.jpeg');
    }
    75%{
        background-image: url('../../../imagens/backGround4.jpeg');
    }
}

#container{
    width: 100vw;
    height: 100vh;


    display: flex;
    flex-direction: column;
    align-items: center;
}

#menssage-container{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 35rem;

    padding: 10px;
    margin-top: 100px;
    border-radius: 50px;

    background: rgba(0, 0, 0, 0.4);
}

h1{
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
}

h2{
    color: rgb(209, 209, 209);
}






































/* #container{
    width: 100vw;
    height: 100vh;
}

.galeria{
    position: relative; 
    width: 100%;
    height: 100%;
}

.foto{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: transition;
    animation-duration: 20s;
    animation-iteration-count: infinite;
}

@keyframes transition{
    25%{
        opacity: 1;
        transform: scale(1.1,1.1);
    }
    
    50%{
        opacity: 0;
    }
}

.foto:nth-child(1){

}
.foto:nth-child(2){
    animation-delay: 5s;
}
.foto:nth-child(3){
    animation-delay: 10s;
}
.foto:nth-child(4){
    animation-delay: 15s;
} */
