.table{
    display: flex;
    width: 100vw;
    justify-content: center;
}
table{
    margin-top: 50px;
    width: 50vw;;
    border: solid;
    border-color: rgba(0, 0, 0, 0.822);
    border: none;
}

th{
    border-spacing: 0px;
    border-color: rgb(6, 73, 196);
    border-left: none;
    border-right: none;
}

tr{
    border-color: rgb(6, 73, 196);
    width: 100px;
    height: 35px;   

}

td{
    
    padding: 8px;
    border-left: none;
    border-right: none;
   
}

td > input {
    outline: none;
    width: 100%;
    border: 0;
    padding: 20px 20px 20px 50px; 
}

