@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');


* {margin: 0; padding: 0;}

body{
	height: 100vh;
	background-color: #f0f0f0;
	font-family: 'Josefin Sans';
	overflow-x: hidden;
}

.invisible-button{
	display: none;
}




